html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

button, .logo {
    cursor: pointer;
}

.bg-pic {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
    z-index: -1;
}

.logo {
    /* position: absolute; */
    /* z-index: 100; */
}

.welcome {
    min-height: 100vh;
}

.main-content {
    /* background: linear-gradient(to bottom, transparent, black 100vh); */
    background-color: #080737;
    min-height: 100vh;
    /* height: 100vh; */
}