html, body {
    height: 100%;
    width: 100%;
}

button, img {
    cursor: pointer;
}

.landing-page {
    background-image: url('./media/sampleBg.png');
    min-height: 100vh;
    min-width: 100vw;
}